#### CMSE 202 Final Project
### &#9989; Griffin Frendo, Ian Byram, Ty Buckley, Yoel Garcia 
### &#9989; Section_002
#### &#9989; 4/26/21

# Background/Motivation

The legalization and decriminalization of  drugs is a very tense and debated topic in today's society. Such a law passed will have major impacts for society, some very good, some bad. Through this project we want to explore some impacts that have already occurred on countries, states and communities across the world.  


The original topic question: How legalization of drug decreases crime.

We want to expanded on this topic. The reason we expanded the topic is because there are not many great datasets for the time periods that we need in terms of crime rate. Also, the legalization/decriminalization of drugs has a much broader impact than just crime therefore to get a larger understanding of its impact we wanted to look at other metrics as well.

**Overall new question**: How does the legalization/decriminalization impact society in terms of crime, overdoses and HIV rates?

# Methodology

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [18]:
cali = pd.read_csv("State of California Department of Justice - OpenJustice.csv")

cali.head(5) #First Five rows

,,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Crimes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Violent Crimes,"163,957","155,313","160,629","151,634","151,425","166,588","174,701","178,553","176,866","173,205"
2,Homicide,"1,809","1,794","1,878","1,745","1,697","1,861","1,930","1,829","1,739","1,679"
3,Rape (Forcible Rape prior to 2014),"8,325","7,678","7,828","7,459","9,397","12,793","13,695","14,724","15,500","14,720"
4,Rape,"7,408","6,792","6,935","6,665","8,562","11,827","12,785","13,799","14,526","13,791"

In [19]:
cali.columns

cali.columns = ["Type of Crime", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019"]

cali.head(2)

,Type of Crime,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Crimes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Violent Crimes,"163,957","155,313","160,629","151,634","151,425","166,588","174,701","178,553","176,866","173,205"

In [20]:
cali.dtypes

Type of Crime    object
2010             object
2011             object
2012             object
2013             object
2014             object
2015             object
2016             object
2017             object
2018             object
2019             object
dtype: object

In [21]:
cali.fillna(0, inplace = True)

In [22]:
cali.replace(",", '', regex=True, inplace = True)

In [23]:
intconvert = {"2010":int,
            "2011": int,
            "2012": int,
            "2013": int,
            "2014":int,
            "2015":int,
            "2016":int,
            "2017":int,
            "2018":int,
            "2019":int}

In [24]:
cali = cali.astype(intconvert)

In [25]:
cali.dtypes

Type of Crime    object
2010              int64
2011              int64
2012              int64
2013              int64
2014              int64
2015              int64
2016              int64
2017              int64
2018              int64
2019              int64
dtype: object

In [26]:
cali = cali.drop(index = 0)

cali.head(1)

,Type of Crime,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Violent Crimes,163957,155313,160629,151634,151425,166588,174701,178553,176866,173205

In [35]:
cali_pre_2016 = cali[[ "Type of Crime","2010", "2011", "2012", "2013", "2014", "2015", "2016"]]

cali_pre_2016.head(2) #Leagalization occured in 2016, after election results were certified

    Type of Crime    2010    2011    2012    2013    2014    2015    2016
1  Violent Crimes  163957  155313  160629  151634  151425  166588  174701
2        Homicide    1809    1794    1878    1745    1697    1861    1930

In [34]:
cali_post_2016 = cali[[ "Type of Crime","2017", "2018", "2019"]]

cali_post_2016.head(2)

    Type of Crime    2017    2018    2019
1  Violent Crimes  178553  176866  173205
2        Homicide    1829    1739    1679

In [31]:
cali_pre_2016["mean"] = cali_pre_2016[["2010", "2011", "2012", "2013", "2014", "2015", "2016"]].sum(axis = 1) / 7

In [33]:
cali_pre_2016.head(2)

,Type of Crime,2010,2011,2012,2013,2014,2015,2016,mean
1,Violent Crimes,163957,155313,160629,151634,151425,166588,174701,160606.714286
2,Homicide,1809,1794,1878,1745,1697,1861,1930,1816.285714

In [38]:
cali_post_2016["mean"] = cali_post_2016[["2017", "2018", "2019"]].sum(axis = 1) / 3

In [39]:
cali_post_2016.head(2)

    Type of Crime    2017    2018    2019      mean
1  Violent Crimes  178553  176866  173205  176208.0
2        Homicide    1829    1739    1679    1749.0

# Results

Discussion

Conclusion

References